/* Notebook button */
.notebook {
	width: 30px;
	height: 31.19px;
	background-image: var(--icon-light), linear-gradient(to right, #edf0f2, #edf0f2)  !important;
	background-repeat: no-repeat !important;
}
.darkMode .notebook {
	background-image: var(--icon-dark), linear-gradient(to right, #2d3542, #2d3542) !important;
}
.notebook:hover,
.notebook:focus {
	opacity: 80%;
}

/* Notebook text input */
.notebook-textarea {
	width: 100%;
	height: 440px;
	min-height: 100px;
	max-height: calc(100vh - 170px);
	outline: none;
}
.darkMode .notebook-textarea {
	background-color: #383838;
	color: white;
	border: 1px solid var(--synergy-border-bg);
}
