/* Notebook button */
.notebook {
	width: 32px;
	min-width: 32px;
	height: 32px;
	background-image: var(--icon-light), linear-gradient(to right, #edf0f2, #edf0f2)  !important;
	background-repeat: no-repeat !important;
	background-size: contain;
}
.darkMode .notebook {
	background-image: var(--icon-dark), linear-gradient(to right, #2d3542, #2d3542) !important;
}
.notebook.topbar:hover,
.notebook.topbar:focus {
	opacity: 80%;
}

/* Notebook modal */
.notebook-modal > .swal2-modal {
	width: 900px;
}
.notebook-modal textarea {
	height: 440px;
	min-height: 100px;
	max-height: calc(100vh - 170px);
}
.darkMode .notebook-modal textarea {
	background-color: #383838;
	color: white;
	border: 1px solid var(--synergy-border-bg);
}

/* Notebook length warning */
.notebook-warning {
	display: none; /* Enabled via JS */
	border-top: none;
	margin-top: 0;
}
.notebook-warning[data-warning="approaching"]::after {
	content: "Warning: Approaching max character limit";
	color: #ff5200;
}
.notebook-warning[data-warning="limit-reached"]::after {
	content: "Max character limit reached";
	color: red;
}
